.parent {
  position: relative; /* Set parent position to relative */
  height: 100vh; /* Ensure full viewport height */
}

.child {
  -webkit-background-clip: text;
  background-clip: text;
  color: green;
  position: absolute; /* Position child absolutely within the parent */
  top: 0; /* Adjust top position as needed */
  left: 0; /* Adjust left position as needed */
  /* Other styles for the child */
  z-index: 1;
}

.button {
  background: rgba(0,0,0,0.2);
  border: 1px solid rgba(255,255,255,0.2);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.button:hover {
  background: rgba(0,0,0,0.5);
}
